<a href="https://colab.research.google.com/github/amballa-mahesh/NLP-Fake-news-classifier-using-LSTM-and-keras-embedding/blob/main/NLP_Fake_news_classifer_using_LSTM_and_keras_embedding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/mydrive')

Mounted at /content/mydrive

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/mydrive/MyDrive/Fake News Data/train.csv')

In [4]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [5]:
df.shape

(20800, 5)

In [6]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [7]:
df.dropna(axis =0,inplace=True)
df.reset_index(inplace=True)

In [8]:
df.shape

(18285, 6)

In [9]:
df.head()

,index,id,title,author,text,label
0,0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [10]:
import re
import tqdm
import string
from tqdm import tqdm
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
from nltk.corpus import stopwords 
from nltk import word_tokenize,sent_tokenize
from nltk.stem import PorterStemmer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [11]:
stops = stopwords.words('english')
lm = WordNetLemmatizer()
ps = PorterStemmer()

In [12]:
stops.remove('no')
stops.remove('not')
stops.remove('nor')

In [13]:
stops

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [14]:
x = df['title']

In [15]:
from nltk.corpus.reader import wordlist
corpus = []
for i in tqdm(range(0,x.shape[0])):
  text = re.sub(r"didn't", "did not", x[i])
  text = re.sub(r"don't", "do not", text)
  text = re.sub(r"won't", "will not", text)
  text = re.sub(r"can't", "can not", text)
  text = re.sub(r"wasn't", "do not", text)
  text = re.sub(r"should't", "should not", text)
  text = re.sub(r"could't", "could not", text)  
  text = re.sub(r"\'ve", " have", text)
  text = re.sub(r"\'m", " am", text)
  text = re.sub(r"\'ll", " will", text)
  text = re.sub(r"\'re", " are", text)
  text = re.sub(r"\'s", " is", text)
  text = re.sub(r"\'d", " would", text)
  text = re.sub(r"\'t", " not", text)
  text = re.sub(r"\'m", " am", text)
  text = re.sub(r"n\'t", " not", text)
  text = re.sub('[^a-zA-Z]',' ',text)
  text = text.lower()
  text = text.split()
  text = [ps.stem(word) for word in text if word not in stops]
  text = ' '.join(text)
  corpus.append(text)
word_corpus = []
for sent in tqdm(corpus):
  sent_token = sent_tokenize(sent)
  for sen in sent_token:
    words = word_tokenize(sen)
  word_corpus.append(words)

100%|██████████| 18285/18285 [00:05<00:00, 3273.26it/s]
100%|██████████| 18285/18285 [00:01<00:00, 10319.07it/s]

In [16]:
import tensorflow

In [39]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, Dropout,Dense, LSTM,Bidirectional
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import one_hot

In [18]:
voc_size = 5000

In [19]:
corpus[0:1]

['hous dem aid even see comey letter jason chaffetz tweet']

In [20]:
one_hot_rep = [one_hot(sent,voc_size) for sent in corpus]

In [21]:
word_len = [len(word_corpus[i]) for i in range(len(word_corpus))]
max(word_len)

47

In [22]:
emmbedded_sents = pad_sequences(one_hot_rep,maxlen = max(word_len),padding ='pre')

In [23]:
emmbedded_sents[0]

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0, 4347, 2971, 1873, 2659,  548,  464, 3955,
         20, 4783, 1329], dtype=int32)

In [24]:
X = emmbedded_sents
y = df['label']

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 123,stratify=y)

In [40]:
model = Sequential()
model.add(Embedding(output_dim = 40,input_dim = voc_size,input_length =max(word_len)))
model.add(Bidirectional(LSTM(100)))
model.add(Dropout(rate =0.2))
model.add(Dense(1,activation = 'sigmoid'))
print(model.summary())

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, 47, 40)            200000

 bidirectional (Bidirectiona  (None, 200)              112800
 l)

 dropout_1 (Dropout)         (None, 200)               0

 dense_1 (Dense)             (None, 1)                 201

=================================================================
Total params: 313,001
Trainable params: 313,001
Non-trainable params: 0
_________________________________________________________________
None

In [41]:
model.compile(optimizer= 'adam',loss='binary_crossentropy',metrics ='accuracy')

In [42]:
model.fit(x_train,y_train,epochs =20,verbose=1,batch_size=60,validation_data=(x_test,y_test))

Epoch 1/20
244/244 [==============================] - 19s 57ms/step - loss: 0.3167 - accuracy: 0.8475 - val_loss: 0.1973 - val_accuracy: 0.9130
Epoch 2/20
244/244 [==============================] - 3s 14ms/step - loss: 0.1374 - accuracy: 0.9437 - val_loss: 0.1926 - val_accuracy: 0.9210
Epoch 3/20
244/244 [==============================] - 3s 14ms/step - loss: 0.0898 - accuracy: 0.9660 - val_loss: 0.2287 - val_accuracy: 0.9084
Epoch 4/20
244/244 [==============================] - 3s 11ms/step - loss: 0.0614 - accuracy: 0.9789 - val_loss: 0.2439 - val_accuracy: 0.9163
Epoch 5/20
244/244 [==============================] - 3s 14ms/step - loss: 0.0400 - accuracy: 0.9876 - val_loss: 0.3066 - val_accuracy: 0.9199
Epoch 6/20
244/244 [==============================] - 2s 10ms/step - loss: 0.0265 - accuracy: 0.9920 - val_loss: 0.3152 - val_accuracy: 0.9095
Epoch 7/20
244/244 [==============================] - 3s 11ms/step - loss: 0.0194 - accuracy: 0.9943 - val_loss: 0.4066 - val_accuracy: 0.9032
Epoch 8/20
244/244 [==============================] - 3s 14ms/step - loss: 0.0111 - accuracy: 0.9969 - val_loss: 0.4084 - val_accuracy: 0.9133
Epoch 9/20
244/244 [==============================] - 3s 14ms/step - loss: 0.0074 - accuracy: 0.9980 - val_loss: 0.4689 - val_accuracy: 0.9144
Epoch 10/20
244/244 [==============================] - 3s 11ms/step - loss: 0.0091 - accuracy: 0.9977 - val_loss: 0.5306 - val_accuracy: 0.9128
Epoch 11/20
244/244 [==============================] - 3s 10ms/step - loss: 0.0051 - accuracy: 0.9983 - val_loss: 0.5005 - val_accuracy: 0.9128
Epoch 12/20
244/244 [==============================] - 3s 11ms/step - loss: 0.0068 - accuracy: 0.9976 - val_loss: 0.5205 - val_accuracy: 0.9084
Epoch 13/20
244/244 [==============================] - 2s 10ms/step - loss: 0.0063 - accuracy: 0.9982 - val_loss: 0.5783 - val_accuracy: 0.9125
Epoch 14/20
244/244 [==============================] - 4s 16ms/step - loss: 0.0058 - accuracy: 0.9984 - val_loss: 0.5747 - val_accuracy: 0.9092
Epoch 15/20
244/244 [==============================] - 2s 9ms/step - loss: 0.0041 - accuracy: 0.9988 - val_loss: 0.6110 - val_accuracy: 0.9144
Epoch 16/20
244/244 [==============================] - 2s 10ms/step - loss: 0.0024 - accuracy: 0.9990 - val_loss: 0.6559 - val_accuracy: 0.9158
Epoch 17/20
244/244 [==============================] - 3s 11ms/step - loss: 0.0020 - accuracy: 0.9993 - val_loss: 0.6943 - val_accuracy: 0.9100
Epoch 18/20
244/244 [==============================] - 2s 10ms/step - loss: 0.0012 - accuracy: 0.9999 - val_loss: 0.7384 - val_accuracy: 0.9100
Epoch 19/20
244/244 [==============================] - 3s 13ms/step - loss: 2.8594e-04 - accuracy: 1.0000 - val_loss: 0.8040 - val_accuracy: 0.9081
Epoch 20/20
244/244 [==============================] - 3s 11ms/step - loss: 1.6301e-04 - accuracy: 1.0000 - val_loss: 0.8192 - val_accuracy: 0.9098

In [43]:
import numpy as np

In [44]:
y_pred = np.round(model.predict(x_test),0)

115/115 [==============================] - 1s 5ms/step

In [45]:
from sklearn.metrics import confusion_matrix,classification_report

In [46]:
print(confusion_matrix(y_test,y_pred))

[[1894  178]
 [ 152 1433]]

In [47]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      0.91      0.92      2072
           1       0.89      0.90      0.90      1585

    accuracy                           0.91      3657
   macro avg       0.91      0.91      0.91      3657
weighted avg       0.91      0.91      0.91      3657